In [1]:
import pandas as pd

# Preparing data

In [2]:
# Dataframe for animal intakes and outcomes
dataframe_intakes_outcomes = pd.read_csv("aac_intakes_outcomes.csv")

# Dropping unneeded columns
dataframe_intakes_outcomes.drop(columns=['age_upon_outcome_age_group', 'age_upon_intake_age_group',
                                 'intake_monthyear', 'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter',
                                 'intake_monthyear', 'age_upon_outcome_(days)', 
                                'age_upon_outcome_(years)', 'outcome_month', 'found_location', 'count', 'age_upon_intake_(days)',
                                'age_upon_intake_(years)', 'age_upon_outcome', 'outcome_year', 'outcome_monthyear', 'outcome_weekday',
                                'animal_id_outcome', 'outcome_hour', 'outcome_number',
                                'dob_monthyear', 'age_upon_intake'], axis=1, inplace=True)

# Rearange the columns to a logical order
dataframe_intakes_outcomes = dataframe_intakes_outcomes[[
    'animal_id_intake',
    'dob_year',
    'dob_month',
    'animal_type',
    'breed',
    'color',
    'intake_month',
    'intake_year',
    'intake_condition',
    'intake_type',
    'sex_upon_intake',
    'outcome_type',
    'time_in_shelter_days']]

# Renaming unclear column names
dataframe_intakes_outcomes = dataframe_intakes_outcomes.rename(columns={
    'animal_id_intake': 'id'})

# Drop non cats and dogs
dataframe_intakes_outcomes = dataframe_intakes_outcomes[dataframe_intakes_outcomes["animal_type"].str.contains("Other")==False]
dataframe_intakes_outcomes = dataframe_intakes_outcomes[dataframe_intakes_outcomes["animal_type"].str.contains("Bird")==False]

In [3]:
# Calculate age in months
dataframe_intakes_outcomes['age_months'] = (dataframe_intakes_outcomes['intake_year'] * 12 + dataframe_intakes_outcomes['intake_month']) - (dataframe_intakes_outcomes['dob_year'] * 12 + dataframe_intakes_outcomes['dob_month'])

In [4]:
# We have animals with negative age
dataframe_intakes_outcomes.head(10)
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes['age_months']<1].sort_values('age_months')

,id,dob_year,dob_month,animal_type,breed,color,intake_month,intake_year,intake_condition,intake_type,sex_upon_intake,outcome_type,time_in_shelter_days,age_months
32209,A702326,2015,8,Cat,Domestic Shorthair Mix,Black,5,2015,Normal,Owner Surrender,Spayed Female,Adoption,12.183333,-3
68511,A751749,2014,12,Dog,Border Collie Mix,Black/White,9,2014,Normal,Owner Surrender,Neutered Male,Adoption,1.268750,-3
66636,A749253,2017,7,Cat,Domestic Shorthair Mix,Orange Tabby,5,2017,Normal,Owner Surrender,Intact Female,Euthanasia,0.036806,-2
15630,A680314,2014,6,Dog,Australian Kelpie Mix,Chocolate/Tan,5,2014,Nursing,Stray,Intact Female,Adoption,73.329167,-1
61211,A741272,2016,11,Dog,Border Collie Mix,Black/Brown,10,2016,Normal,Stray,Intact Female,Adoption,176.849306,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31280,A701225,2015,4,Cat,Domestic Shorthair Mix,Blue/White,4,2015,Normal,Stray,Intact Female,Transfer,0.081250,0
31281,A701226,2015,4,Cat,Domestic Shorthair Mix,Brown Tabby,4,2015,Normal,Stray,Unknown,Transfer,0.081250,0
31285,A701233,2015,4,Cat,Domestic Shorthair Mix,White,4,2015,Sick,Stray,Intact Male,Transfer,0.031250,0
31287,A701235,2015,4,Cat,Domestic Shorthair Mix,Orange Tabby,4,2015,Sick,Stray,Intact Female,Transfer,0.031250,0
79667,A769060,2018,3,Cat,Domestic Shorthair Mix,Tortie,3,2018,Normal,Stray,Unknown,Transfer,0.077083,0

In [5]:
# Dataframe for dog size by breed
dataframe_dog_breed_size = pd.read_csv("dogs_cleaned.csv")

dataframe_dog_breed_size = dataframe_dog_breed_size[['Breed Name', 'Dog Size']]

dataframe_dog_breed_size = dataframe_dog_breed_size.rename(columns={
    'Breed Name': 'breed', 
    'Dog Size': 'size'})


dataframe_dog_breed_size['size'].unique().tolist()

['Very Large', 'Small', 'Medium', 'Large', 'Very Small']

In [6]:
# Merge original dataset with dog breed size

# Transform breed to ignore mixed races
dataframe_intakes_outcomes['breed'] = dataframe_intakes_outcomes['breed'].map(lambda i: i.split('/')[0])
dataframe_intakes_outcomes['breed'] = dataframe_intakes_outcomes['breed'].map(lambda i: i.split(' Mix')[0])

# Correcting breed names accross data
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'German Shepherd', 'breed'] = 'German Shepherd Dog'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Pit Bull', 'breed'] = 'American Pit Bull Terrier'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Miniature Poodle', 'breed'] = 'Pomeranian'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Chihuahua Shorthair', 'breed'] = 'Chihuahua'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Alaskan Husky', 'breed'] = 'Siberian Husky'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Chesa Bay Retr', 'breed'] = 'Chesapeake Bay Retriever'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Catahoula', 'breed'] = 'Catahoula Bulldog'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Wire Hair Fox Terrier', 'breed'] = 'Fox Terrier'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'West Highland', 'breed'] = 'West Highland White Terrier'
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["breed"] == 'Treeing Tennesse Brindle', 'breed'] = 'Treeing Tennessee Brindle'

# Merge
dataframe_intakes_outcomes = pd.merge(dataframe_intakes_outcomes, dataframe_dog_breed_size, on='breed', how='left')

# All cats get very small
dataframe_intakes_outcomes.loc[dataframe_intakes_outcomes["animal_type"] == 'Cat', 'size'] = 'Very Small'

# Rearange the columns to a logical order
dataframe_intakes_outcomes = dataframe_intakes_outcomes[[
    'id',
    'animal_type',
    'breed',
    'size',
    'age_months',
    'color',
    'intake_condition',
    'intake_type',
    'sex_upon_intake',
    'outcome_type',
    'time_in_shelter_days']]

dataframe_intakes_outcomes = dataframe_intakes_outcomes.rename(columns={
    'sex_upon_intake': 'sex'})

In [7]:
dataframe_intakes_outcomes.head(5)
dataframe_intakes_outcomes.sort_values('age_months')

,id,animal_type,breed,size,age_months,color,intake_condition,intake_type,sex,outcome_type,time_in_shelter_days
64529,A751749,Dog,Border Collie,Large,-3,Black/White,Normal,Owner Surrender,Neutered Male,Adoption,1.268750
30443,A702326,Cat,Domestic Shorthair,Very Small,-3,Black,Normal,Owner Surrender,Spayed Female,Adoption,12.183333
62766,A749253,Cat,Domestic Shorthair,Very Small,-2,Orange Tabby,Normal,Owner Surrender,Intact Female,Euthanasia,0.036806
50906,A731373,Cat,Domestic Shorthair,Very Small,-1,Calico,Normal,Stray,Intact Female,Transfer,42.143056
14791,A680314,Dog,Australian Kelpie,Large,-1,Chocolate/Tan,Nursing,Stray,Intact Female,Adoption,73.329167
...,...,...,...,...,...,...,...,...,...,...,...
746,A528040,Dog,Miniature Schnauzer,Medium,243,Gray/Black,Injured,Stray,Spayed Female,Return to Owner,0.223611
45309,A723385,Cat,Domestic Shorthair,Very Small,263,Tortie,Normal,Stray,Spayed Female,Return to Owner,3.199306
16008,A682010,Cat,Domestic Shorthair,Very Small,264,Seal Point,Sick,Stray,Neutered Male,Return to Owner,2.239583
60095,A744732,Cat,Domestic Shorthair,Very Small,264,Black,Normal,Owner Surrender,Spayed Female,Euthanasia,0.026389
38376,A712996,Cat,Siamese,Very Small,264,Lilac Point,Aged,Stray,Unknown,Return to Owner,0.046528

In [8]:
# Rows with NaN for size
dataframe_intakes_outcomes['size'].isna().sum()

3851

In [9]:
# Drop rows without size
dataframe_intakes_outcomes = dataframe_intakes_outcomes[dataframe_intakes_outcomes["size"].str.contains("NaN")==False]

In [10]:
# Separate dogs and cats
df_dogs = dataframe_intakes_outcomes[dataframe_intakes_outcomes["animal_type"].str.contains("Dog")==True]
df_cats = dataframe_intakes_outcomes[dataframe_intakes_outcomes["animal_type"].str.contains("Cat")==True]

In [11]:
# Dataset size for dogs
df_dogs.size

456665

In [12]:
# Dataset size for cats
df_cats.size

324929

In [13]:
# Import dog traits dataset
df_dog_traits = pd.read_csv("dog_breed_characteristics.csv")
df_dog_traits = df_dog_traits[[
    'BreedName',
    'Temperment'
]]

df_dog_traits = df_dog_traits.rename(columns={
    'BreedName': 'breed',
    'Temperment':'temperament'})

df_dog_traits.head(5)

                 breed                                        temperament
0        Affenpinscher  Active, Adventurous, Curious, Fun-loving, Play...
1         Afghan Hound     Aloof, Clownish, Dignified, Happy, Independent
2  African Hunting Dog                                               Wild
3     Airedale Terrier  Alert, Confident, Courageous, Friendly, Intell...
4               Akbash  Affectionate, Alert, Courageous, Independent, ...

In [14]:
# Conversion of the dog breed traits to single columns
unique_dog_traits = []
for index, row in df_dog_traits[df_dog_traits['temperament'].notnull()].iterrows():
    unique_dog_traits.extend(row['temperament'].split(', '))

    
unique_dog_traits = set(unique_dog_traits)

for trait in unique_dog_traits:
    df_dog_traits[trait] = 0
    df_dog_traits.loc[df_dog_traits['temperament'].str.contains(trait) == True, trait] = 1
   
df_dog_traits.drop('temperament', axis=1, inplace=True)

C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0
C:\Users\Tara\AppData\Local\Temp\ipykernel_14772\2397505897.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_dog_traits[trait] = 0

In [15]:
# Merging dog df with traits

df_dogs.loc[df_dogs["breed"] == 'Spinone Italiano', 'breed'] = 'Italian Spinone'
df_dogs.loc[df_dogs["breed"] == 'Shetland Sheepdog', 'breed'] = 'Shetland Sheepdog Sheltie'
df_dogs.loc[df_dogs["breed"] == 'Catahoula Bulldog', 'breed'] = 'American Bulldog'
df_dogs.loc[df_dogs["breed"] == 'American Pit Bull Terrier', 'breed'] = 'Bull Terrier'
df_dogs.loc[df_dogs["breed"] == 'Yorkshire Terrier', 'breed'] = 'Yorkshire Terrier Yorkie'
df_dogs.loc[df_dogs["breed"] == 'Australian Cattle Dog', 'breed'] = 'Australian Cattle Dog/Blue Heeler'

df_dogs = pd.merge(df_dogs, df_dog_traits, on='breed', how='left')

# Drop 750 dogs with NaN for traits
df_dogs = df_dogs[df_dogs["Patient"].isna()==False]
df_dogs.head(5)

,id,animal_type,breed,size,age_months,color,intake_condition,intake_type,sex,outcome_type,...,Cooperative,Brave,"Quick,Strong",Gentle,Kind,Mischevious,Willful,Rational,Vigiliant,Eager
0,A006100,Dog,Italian Spinone,Very Large,125,Yellow/White,Normal,Stray,Neutered Male,Return to Owner,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A006100,Dog,Italian Spinone,Very Large,89,Yellow/White,Normal,Public Assist,Neutered Male,Return to Owner,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A006100,Dog,Italian Spinone,Very Large,80,Yellow/White,Normal,Public Assist,Neutered Male,Return to Owner,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A047759,Dog,Dachshund,Medium,120,Tricolor,Normal,Owner Surrender,Neutered Male,Transfer,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A134067,Dog,Shetland Sheepdog Sheltie,Medium,193,Brown/White,Injured,Public Assist,Neutered Male,Return to Owner,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Import cat traits dataset
df_cat_traits = pd.read_csv("cat_breed_characteristics.csv")
df_cat_traits = df_cat_traits[[
    'BreedName',
    'Temperment'
]]

df_cat_traits = df_cat_traits.rename(columns={
    'BreedName': 'breed',
    'Temperment':'temperament'})

df_cat_traits.head(5)

                breed                                        temperament
0          Abyssinian  Active, Energetic, Independent, Intelligent, G...
1       American Curl  Affectionate, Curious, Intelligent, Interactiv...
2  American Shorthair          Active, Curious, Easygoing, Playful, Calm
3   American Wirehair  Affectionate, Curious, Gentle, Intelligent, In...
4   Applehead Siamese  Active, Agile, Clever, Sociable, Loving, Energ...

In [17]:
# Conversion of the cat breed traits to single columns
unique_cat_traits = []
for index, row in df_cat_traits[df_cat_traits['temperament'].notnull()].iterrows():
    unique_cat_traits.extend(row['temperament'].split(', '))

    
unique_cat_traits = set(unique_cat_traits)

for trait in unique_cat_traits:
    df_cat_traits[trait] = 0
    df_cat_traits.loc[df_cat_traits['temperament'].str.contains(trait) == True, trait] = 1
   
df_cat_traits.drop('temperament', axis=1, inplace=True)

In [18]:
# Merging cat df with traits

df_cats.loc[df_cats["breed"] == 'Domestic Shorthair', 'breed'] = 'Domestic Short Hair'
df_cats.loc[df_cats["breed"] == 'Domestic Longhair', 'breed'] = 'Domestic Long Hair'
df_cats.loc[df_cats["breed"] == 'American Curl Shorthair', 'breed'] = 'American Curl'
df_cats.loc[df_cats["breed"] == 'Munchkin Shorthair', 'breed'] = 'Munchkin'
df_cats.loc[df_cats["breed"] == 'Angora', 'breed'] = 'Turkish Angora'
df_cats.loc[df_cats["breed"] == 'Munchkin Longhair', 'breed'] = 'Munchkin'
df_cats.loc[df_cats["breed"] == 'Munchkin Longhair', 'breed'] = 'Munchkin'
df_cats.loc[df_cats["breed"] == 'Munchkin Longhair', 'breed'] = 'Munchkin'

df_cats = pd.merge(df_cats, df_cat_traits, on='breed', how='left')

# Drop 11 cats with NaN for traits
df_cats = df_cats[df_cats['Patient'].isna()==False]
df_cats.head(5)

,id,animal_type,breed,size,age_months,color,intake_condition,intake_type,sex,outcome_type,...,Gentle,Affectionate,Intelligent,Loyal,Sociable,Mischevious,Lively,Friendly,Peaceful,Sensitive
0,A191351,Cat,Domestic Long Hair,Very Small,195,Black/White,Normal,Stray,Intact Female,Return to Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A197810,Cat,American Shorthair,Very Small,179,Brown Tabby/White,Normal,Stray,Spayed Female,Transfer,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A214991,Cat,Domestic Short Hair,Very Small,237,Black,Aged,Euthanasia Request,Spayed Female,Euthanasia,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A234161,Cat,Domestic Short Hair,Very Small,153,Black/White,Normal,Stray,Neutered Male,Return to Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A243903,Cat,Domestic Short Hair,Very Small,161,Black/Black,Sick,Stray,Neutered Male,Return to Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Sizes of current dfs
print('Cats: ', df_cats.shape)
print('Dogs: ',df_dogs.shape)

Cats:  (29528, 51)
Dogs:  (40762, 150)

In [20]:
# Dropping animals that have been returned
df_cats = df_cats[df_cats['outcome_type'] != 'Return to Owner']
df_dogs = df_dogs[df_dogs['outcome_type'] != 'Return to Owner']

In [21]:
# Sizes of current dfs
print('Cats: ', df_cats.shape)
print('Dogs: ',df_dogs.shape)

Cats:  (28060, 51)
Dogs:  (28733, 150)

In [22]:
df_dogs.describe()

,age_months,time_in_shelter_days,Steady,Vigilant,Detached,Respectful,Intense,Reserverd,Self-assured,Playful,...,Cooperative,Brave,"Quick,Strong",Gentle,Kind,Mischevious,Willful,Rational,Vigiliant,Eager
count,28733.000000,28733.000000,28733.000000,28733.000000,28733.000000,28733.000000,28733.000000,28733.000000,28733.0,28733.000000,...,28733.0,28733.000000,28733.0,28733.000000,28733.000000,28733.000000,28733.000000,28733.0,28733.0,28733.000000
mean,27.370515,20.649557,0.005638,0.000383,0.005046,0.000557,0.004176,0.000348,0.0,0.319737,...,0.0,0.022831,0.0,0.274388,0.026868,0.000800,0.001149,0.0,0.0,0.008701
std,32.577385,47.354809,0.074877,0.019563,0.070860,0.023592,0.064491,0.018653,0.0,0.466383,...,0.0,0.149367,0.0,0.446213,0.161701,0.028282,0.033871,0.0,0.0,0.092873
min,-3.000000,0.000694,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,6.000000,4.109722,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
50%,13.000000,6.230556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
75%,36.000000,17.236111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,...,0.0,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
max,231.000000,1268.975000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,...,0.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000